body {
    margin-top: -21px; /* WTF WHY DO I HAVE TO DO THIS */
    background-color: #151515;

    font-family: "Titillium Web";
}

label {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web";
}


.share-i-wrapper,
.backward-i-wrapper,
.play-i-wrapper,
.forward-i-wrapper,
.volume-wrapper,
.more-i-wrapper,
i:hover {
    cursor: pointer;
}

.nav-wrapper, .player {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Block Styles */

.body-wrapper {
    margin: 0 auto;
    padding: 0;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    height: 100px;
    max-width: 100%;
    z-index: 1;

    line-height: 100px;
    background-color: #333;
    color: white;
}

.nav-wrapper * {
    vertical-align: middle;
}

.nav-wrapper, .player {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.content-wrapper {
    position: fixed;
    top: 100px;
    bottom: 100px;
    width: 100%;
    padding: 0 3em;

    overflow-x: hidden;
    /*overflow-y: auto;*/
    background-color: #f9f9f9;
}

/* Icon Bar */

a.item {
    border-bottom: 7px solid #555;
    height: 95px;
}

a.item:not(.current) * {
    color: #bbb;
}

a.item.current, a.item:hover {
    border-bottom: 7px solid deepskyblue;
}

/* Foundation small screen */
@media only screen and (max-width: 40em) {
    a.item i {
        margin-top: 25px;
    }
}

/* More Menu */

.more-i-wrapper {
    text-align: center;
}

.more-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 100px;
    width: 250px;

    padding: 0 0.2em;

    background-color: #333;
    color: inherit;

    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.more-menu ul {
    margin: 0;
}

.more-menu li {
    padding: 1em 0;
    border-top: 1px solid gray;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
}

.more-menu li:hover {
    cursor: pointer;
}

.more-menu li:first-of-type {
    border: none;
}

.more-menu li * {
    padding-left: 1em;
    font-size: 1.5em;
}

/* Page Styles */

.page-0, .page-1, .page-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    overflow: auto;

    -webkit-transition: left 0.6s ease;
    -moz-transition: left 0.6s ease;
    -ms-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    transition: left 0.6s ease;
}

.page-0 {
    left: 0;
    padding: 0 2em;
}

@media all and (max-width: 500px) {
    .page-0 {
        padding: 0 0.6em;
    }
}

.page-1 {
    left: 100%;
    padding: 1em;
}

.page-1 p {
    max-width: 500px;
}

.page-1 ul {
    list-style-type: circle;
}

.page-2 {
    left: 200%;
    padding: 1em;
}

.page-2 .columns, .page-2 form a {
    float: right;
}


.playlist-header {
    font-size: 0.6em;
    line-height: 0.6em;
    text-transform: uppercase;
}

.playlist-header label {
    color: #aaa;
}

/* Track Styles */

.track {
    height: 100px;
    padding: 1em 0;
    border-top: 1px solid darkgray;
}

.track:first-of-type {
    border-top: none;
}

.track:hover {
    cursor: pointer;
    background-color: #eee;
}

.track * {
    vertical-align: middle;
}

.track img {
    width: 60px;
    height: 60px;
    margin: 5px 10px;
}

.track span {
    display: inline-block;
    position: relative;
}

.track-name {
    font-weight: 600;
}

.track-share-i-wrapper i {
    color: #c5c5c5;
}

/* Foundation small screen */
@media only screen and (max-width: 40em) {
    .track-share-i-wrapper i {
        display: block !important;
    }
}


/* Player Styles */

.player {
    position: fixed;
    bottom: 0;
    height: 100px;
    max-width: 100%;
    z-index: 1;

    background-color: #333;
    color: white;
}

.player * {
    vertical-align: middle;
}

.player img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.player span#track-info {
    display: inline-block !important;
    position: relative;
}

.player .columns:first-of-type, .track .columns:first-of-type {
    padding: 0;
    overflow-x: hidden;
}

.player-controls {
    text-align: center;
    line-height: 100px;
}

.volume-wrapper {
    padding: 0 1em;
}

.volume-wrapper .columns {
    padding: 0;
}

.volume-hidden {
    opacity: 0;
    transition: opacity 200ms;
}

#slider-wrapper {
    display: table-cell;
    margin-left: 5px;
}

#volume-slider {
    display: inline-block;
    width: 100%;
    height: 10px;
    margin: 0 auto;

    background-color: #aaa;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#volume-slider .ui-slider-range {
    position: absolute;
    height: 10px;

    background-color: deepskyblue;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#volume-slider .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -5px;
    margin-top: -2px;
    background-color: #fff;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    outline: none;
}


/* Share Menu */

.share-menu {
    display: none;
    position: fixed;

    right: 0;
    bottom: 105px;
    height: 70px;

    background-color: transparent;
}

.share-menu ul {
    margin: 0.2em 0.4em;
}

.share-menu li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
    width: 70px;
    text-align: center;
    margin: 0 0.5em;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.share-menu li:hover {
    cursor: pointer;
}

.share-menu li * {
    vertical-align: middle;
}

.share-menu li.facebook {
    background-color: #3b5998;
    color: white;
}
.share-menu li.twitter {
    color: white;
    background-color: #55acee;
}
.share-menu li.google {
    color: white;
    background-color: #dd4b39;
}


/* Popups */

.reveal-modal {
    width: 70%;
}
