body {
    margin-top: -21px; /* WTF WHY DO I HAVE TO DO THIS */
    background-color: #151515;

    font-family: "Titillium Web";
}

label {
    text-transform: uppercase;
}

i:hover {
    cursor: pointer;
}

/* Block Styles */

.body-wrapper {
    margin: 0 auto;
    padding: 0;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    height: 100px;
    max-width: 100%;

    line-height: 100px;
    background-color: #333;
    color: white;
}

.nav-wrapper * {
    vertical-align: middle;
}

.nav-wrapper, .player {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.content-wrapper {
    position: fixed;
    top: 100px;
    bottom: 100px;
    width: 100%;
    padding: 0 3em;

    overflow-x: hidden;
    /*overflow-y: auto;*/
    background-color: #f9f9f9;
}

/* Icon Bar */

a.item {
    border-bottom: 9px solid #555;
    height: 100px;
}

a.item:not(.current) * {
    color: #bbb;
}

a.item.current, a.item:hover {
    border-bottom: 9px solid deepskyblue;
}

/* Foundation small screen */
@media only screen and (max-width: 40em) {
    a.item i {
        margin-top: 25px;
    }
}

/* Page Styles */

.page-0, .page-1, .page-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    overflow: auto;

    -webkit-transition: left 0.6s ease;
    -moz-transition: left 0.6s ease;
    -ms-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    transition: left 0.6s ease;
}

.page-0 {
    left: 0;
    padding: 0 2em;
}

.page-1 {
    left: 100%;
    padding: 1em 0;
}

.page-1 p {
    max-width: 500px;
}

.page-2 {
    left: 200%;
    padding: 1em 0;
}

.page-2 .columns, .page-2 form a {
    float: right;
}


.playlist-header {
    font-size: 0.6em;
    line-height: 0.6em;
    text-transform: uppercase;
}

.playlist-header label {
    color: #aaa;
}

/* Track Styles */

.track {
    height: 100px;
    padding: 1em 0;
    border-top: 1px solid darkgray;
}

.track:first-of-type {
    border-top: none;
}

.track * {
    vertical-align: middle;
}

.track img {
    width: 60px;
    height: 60px;
    margin: 5px 10px;
}

.track span {
    display: inline-block;
    position: relative;
}

.track-name {
    font-weight: 600;
}


/* Player Styles */

.player {
    position: fixed;
    bottom: 0;
    height: 100px;
    max-width: 100%;

    background-color: #333;
    color: white;
}

.player * {
    vertical-align: middle;
}

.player img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.player span {
    display: inline-block !important;
    position: relative;
}

.player .columns:first-of-type, .track .columns:first-of-type {
    padding: 0;
    overflow-x: hidden;
}

.player-controls {
    text-align: center;
    line-height: 100px;
}
