@import "variables";
@import "mixins";

// Body styles

/*
body {
  font-family: "Titillium Web";
}
*/

.row {
  margin-bottom: 0;
}

.content-wrapper {
  position: fixed;
  top: $navbar-height;
  bottom: $player-height;
  width: 100%;
  padding: 0 3em;

  overflow-x: hidden;
}

// Page styles
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  overflow: auto;

  @include transition(left, 0.6s);

  .row {
    max-width: $content-max-width;
  }
}

.page-0 {
  @extend .page;

  left: 0;

  .mix-search .col {
    padding: 0;

    i {
      margin-top: 15px;
      &:hover {
        cursor: default;
      }
    }
  }

  .genre-reset {
    margin-left: 10px;

    opacity: 0;
    transition: 500ms opacity;
    cursor: default;

    @include user-select(none);
  }

  .genre-list {
    margin: 0 10px;

    li {
      display: inline-block;
    }

    .btn {
      height: 25px;
      line-height: 25px;
      padding: 0 0.4rem;
      margin: 0.2rem 0.3rem;
    }
  }
}

.page-1 {
  @extend .page;

  left: 100%;

  .share-apps {
    margin: 0 auto;
    max-width: 420px;
  }

  li {
    margin: 0.4em 0;

    i {
      line-height: inherit;
      margin-top: -2px;
    }
  }
}

.page-2 {
  @extend .page;

  left: 200%;

  .columns, form a {
    float: right;
  }
}