@import "variables";
@import "mixins";

// Body styles

/*
body {
  font-family: "Titillium Web";
}

.body-wrapper {
  margin: 0 auto;
  padding: 0;
}
*/

.row {
  margin-bottom: 0;
}

.content-wrapper {
  position: fixed;
  top: $navbar-height;
  bottom: $player-height;
  width: 100%;
  padding: 0 3em;

  overflow-x: hidden;
}

// Page styles
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  overflow: auto;

  @include transition(left, 0.6s)
}

.page-0 {
  @extend .page;

  left: 0;
  padding: 0 2em;
}

@media all and (max-width: 500px) {
  .page-0 {
    padding: 0 0.6em;
  }
}

.page-1 {
  @extend .page;

  left: 100%;

  p {
    max-width: 500px;
  }

  li {
    margin: 0.4em 0;

    i {
      line-height: inherit;
      margin-top: -2px;
    }
  }
}

.page-2 {
  @extend .page;

  left: 200%;

  .row {
    max-width: 1200px;
  }

  .columns, form a {
    float: right;
  }
}