label {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web";
}


.share-i-wrapper,
.backward-i-wrapper,
.play-i-wrapper,
.forward-i-wrapper,
.volume-wrapper,
.more-i-wrapper,
i:hover {
  cursor: pointer;
}