@import '../vendor/foundation/settings';
@import 'variables';
@import 'mixins';

.nav-wrapper {
  position: fixed;
  top: 0;
  height: $bar-height;
  max-width: 100%;
  z-index: 1;

  line-height: $bar-height;
  background-color: $header-bg-color;
  color: white;

  @include user-select(none);
  @include box-shadow(0, 0, 8px, rgba(0,0,0,0.4));

  * {
    vertical-align: middle;
  }

  /*
  .nav-logo {
    width: 90px;
    height: 90px;
    margin: 5px;
  }
  */

}

.icon-bar {
  & > * {
    padding: 0.7rem;
  }
}

a.item {
  background-color: $header-bg-color;
  border-bottom: 7px solid #555;
  height: $bar-height - 5px;

  &:not(.current) * {
    color: #bbb;
  }

  &.current, &:hover {
    border-bottom: 7px solid deepskyblue;
  }

  @media only screen and (max-width: $small-breakpoint) {
    padding-top: 25px;
  }
}