@import "variables";
@import "mixins";

.player {
  position: fixed;
  bottom: 0;
  height: $player-height;
  width: 100%;
  //z-index: 1;

  background-color: $primary-color-dark;
  color: white;

  @include user-select(none);
  @include box-shadow(0, 0, 8px, rgba(0,0,0,0.4));

  * {
    vertical-align: middle;
  }

  img {
    width: $player-height;
    height: $player-height;
    margin-right: 5px;
  }

  .track-info {
    padding: 0;
    overflow-x: hidden;
  }

  .playback-controls {
    margin: 0 auto;
    max-width: 300px;
  }

  .volume-share-controls {
    float: right;
    max-width: 420px;

    .col {
      padding: 0;
    }
  }

  // TODO small screen
  @media screen and (max-width: $small-screen) {
  }
}

#player-track-info {
  display: inline-block !important;
  position: relative;
}

#playbar {
  position: absolute;
  left: $player-height;
  width: calc(100% - #{$player-height});
  height: $playbar-height;

  background-color: $slider-bg-color;

  &:hover {
    cursor: pointer;
  }

  #track-time {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 0.8em;
    color: lighten($primary-color, 35%);
    opacity: 0;
    transition: 200ms opacity;
  }
}

#playbar-slider {
  width: 100%;
  height: 10px;

  .ui-slider-range {
    position: absolute;
    height: $playbar-height;
    background-color: $secondary-color;
  }

  .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -7px;
    margin-top: -4px;

    opacity: 0;
    background-color: $secondary-color;
    @include border-radius(7px);
    outline: none;

    transition: opacity 200ms;
  }
}

.player-controls {
  text-align: center;
  line-height: $player-height;
}


.volume-wrapper {
  padding: 0 1em;

  .columns {
    padding: 0;
  }
}

.volume-hidden {
  opacity: 0;
  transition: opacity 200ms;
}

#slider-wrapper {
  position: relative;
  display: table-cell;
  padding: 0;
}

#volume-slider {
  display: inline-block;
  width: 100%;
  height: 5px;
  margin: 0 auto;

  background-color: $slider-bg-color;

  @include border-radius(5px);

  .ui-slider-range {
    position: absolute;
    height: 5px;

    background-color: $secondary-color;

    @include border-radius(5px);
  }

  .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -7px;
    margin-top: -4px;

    background-color: $secondary-color;
    @include border-radius(7px);
    outline: none;
  }
}