@import "variables";
@import "mixins";

#share-popup {
  max-height: $share-dialog-max-height;
  max-width: $share-dialog-max-width;

  h5 {
    text-align: center;
  }

  .modal-content {
    overflow: hidden;
  }
}

.share-apps {
  list-style: none;

  div {
    //display: inline-block;

    .share-icon {
      line-height: 50px;
      width: 50px;
      text-align: center;
      margin-left: calc(50% - 25px);

      @include border-radius(50%);

      @include box-shadow(0, 0, 5px, rgba(0,0,0,0.4));
    }

    &:hover {
      cursor: pointer;
    }
  }

  i {
    vertical-align: middle;
  }

  .direct {
    color: white;
    background-color: $primary-color;
  }

  .facebook {
    color: white;
    background-color: $facebook-color;
  }

  .twitter {
    color: white;
    background-color: $twitter-color;
  }

  .google {
    color: white;
    background-color: $gplus-color;
  }

  .soundcloud {
    color: white;
    background-color: $soundcloud-color;
  }
}

.link-box {
  margin-top: 5px;
}
