@import 'variables';

.track {
  height: 100px;
  padding: 1em 0;
  border-top: 1px solid darkgray;

  * {
    vertical-align: middle;
  }

  img {
    width: 60px;
    height: 60px;
    margin: 5px 10px;
  }

  span {
    display: inline-block;
    position: relative;
  }

  &:first-of-type {
    border-top: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

.track-name {
  font-weight: 600;
}

.track-share-i-wrapper i {
  color: #c5c5c5;
}