@import "variables";

.track {
  display: block;
  height: $player-height;
  padding: $track-padding;

  border-top: 1px solid lightgray;

  .track-info {
    position: relative;

    .track-name {
      font-weight: 600;
    }
  }

  .play-overlay {
    position: absolute;
    top: 0;
    left: calc(0.75rem + 10px);
    width: 60px;
    height: 60px;
    opacity: 0;

    color: darkgray;
    background-color: black;
  }

  .track-share-i-wrapper i {
    line-height: 68px;
    opacity: 0;
    color: #c5c5c5;
  }

  * {
    vertical-align: middle;
  }

  img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }

  span {
    display: inline-block;
    position: relative;
  }

  &:first-of-type {
    border-top: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;

    .play-overlay {
      opacity: 0.6;
    }
  }
}