@import "../vendor/materialize/components/variables";

/* Brand Colors */
$facebook-color: #3b5998;
$twitter-color: #55acee;
$gplus-color: #dd4b39;
$soundcloud-color: #ff8800;

// TODO organize these
$track-padding: 10px 0;
$player-height: 80px;
$playbar-height: 5px;
$slider-bg-color: #aaa;
