/* Site Colors */
$header-bg-color: #333333;
$header-fg-color: white;

$body-bg-color: #f9f9f9;
$body-fg-color: #222222;

$accent-color: deepskyblue;

/* Brand Colors */
$facebook-color: #3b5998;
$twitter-color: #55acee;
$gplus-color: #dd4b39;
$soundcloud-color: #ff8800;

